@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:900|Raleway:400,500");
.ba-header {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  text-align: center; }
  .ba-header__title {
    text-transform: uppercase;
    color: #ffcc00;
    font-size: 60px;
    line-height: 1.1;
    margin: 100px 0;
    position: relative; }
    .ba-header__title:first-line {
      font-size: 18px;
      line-height: 24px;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      color: #898f8f;
      letter-spacing: .02em; }
    .ba-header__title:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 450px;
      background-color: #ffcc00;
      left: 50%;
      bottom: -50px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
    .ba-header__title:before {
      font-family: "Ionicons";
      content: '\f315';
      display: inline-block;
      color: #ffcc00;
      position: absolute;
      left: 50%;
      bottom: -50px;
      -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
      background-color: #fff;
      z-index: 2; }

.ba-slider {
  position: relative; }
  .ba-slider__arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 13px;
    height: 23px; }
    .ba-slider__arrow--left {
      background: url(../img/arrow-left.png) 50% no-repeat;
      left: 20px; }
    .ba-slider__arrow--right {
      background: url(../img/arrow-right.png) 50% no-repeat;
      right: 20px; }

.ba-card {
  position: relative; }
  .ba-card:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #ffcc00; }
  .ba-card__photo-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #ffcc00;
    overflow: hidden; }
    .ba-card__photo-container img {
      min-width: 100%;
      min-height: 100%;
      -webkit-transition: -webkit-transform ease .3s;
      transition: -webkit-transform ease .3s;
      -o-transition: transform ease .3s;
      transition: transform ease .3s;
      transition: transform ease .3s, -webkit-transform ease .3s; }
      .ba-card__photo-container img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
  .ba-card__photo {
    width: 50%;
    float: left;
    padding: 9px;
    background: #fff url(../img/bg-corners-all.png) 50% no-repeat;
    min-height: 200px; }
  .ba-card__info {
    width: 50%;
    float: left;
    min-height: 200px; }

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px; }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }
